h1 {
    text-align: center;
}

main {
    margin-top: 200vh; /* forces scrolling */
    margin: 0 auto;
    width: 400px;
    display: block;    
}

img {
    width: 100%;
    background: black;
    animation: fade 1s;
}

/* Black overlay that will fade away */
.fade-from-black::after {
    content: "";
    position: absolute;
    inset: 0;
    /* top:0; right:0; bottom:0; left:0; */
    background: #000;
    pointer-events: none;
    /* don't block pointer events */
    opacity: 1;
    animation: fadeFromBlack 1s ease forwards;
}
.image-wrap {
    position: relative;
    display: inline-block;
    /* or block / flex child depending on layout */
    overflow: hidden;
}

/* Make the image fill the wrapper cleanly */
.image-wrap img {
    display: block;
    width: 100%;
    height: auto; 
}

/* Black overlay that will fade away */
.fade-from-black::after {
    content: "";
    position: absolute;
    inset: 0;
    /* top:0; right:0; bottom:0; left:0; */
    background: #000;
    pointer-events: none;
    /* don't block pointer events */
    opacity: 1;
    animation: fadeFromBlack 1s ease forwards;
}

/* keyframes: from fully black to transparent */
@keyframes fadeFromBlack {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* Optional: staggered delays for multiple images (example for 4 images) */
.fade-from-black:nth-of-type(1)::after {
    animation-delay: 0s;
}

.fade-from-black:nth-of-type(2)::after {
    animation-delay: 0.15s;
}

.fade-from-black:nth-of-type(3)::after {
    animation-delay: 0.30s;
}

.fade-from-black:nth-of-type(4)::after {
    animation-delay: 0.45s;
}