.roboto-fonts {
   font-family: "Roboto", sans-serif;
   font-optical-sizing: auto;
   font-weight: 200;
   font-style: normal;
   font-variation-settings:
      "wdth" 100;
}

.parent-body {
   display: grid;
   grid-template-rows: auto 1fr auto / auto;
   font-family: "Roboto";
}

nav {
   display: flex;
   flex-wrap:wrap;
   justify-content: center; 
   background-color: #7339AC;
}

nav ul {
   list-style-type: none; /*ride off default style*/
}

#course-title {
   padding: 1rem;
   display: block; /* per instructions */
   font-weight: 600;
}

nav ul {
   display: flex; /* per instructions */
   gap: .6rem;
   list-style: none;
   padding: 0;
   margin: 0.35rem 0 0 0;
}

nav a {
   display: inline-block;   
   padding: .5rem 5rem;
   border-radius: 10px;
   text-decoration: none;
   color: var(--muted);
   font-weight: 600;
   transition: transform 180ms ease, box-shadow 180ms ease, color 180ms ease;
   position: relative;
}   

nav a:hover{
   transform: translateY(-4px);   
}

.page-main {
   height: auto;
   display: grid;
   margin: 10px 10px;
   grid-gap: 1rem;
   grid-template-columns: auto 30%;
   font-weight: 600;
}

.card {
   display: grid; /* per instructions */
   background:rgba(181, 155, 238, 0.08);
   border-radius:12px;
   padding: 0rem;
   gap: 1rem 1rem;
   border: 1px solid #545151;
   }

#card1 {
   grid-template: 1fr auto auto auto / .9fr auto;
   margin: .5rem 0 .5rem 1rem;
}

#card2 {
   grid-template-rows: auto 1fr;
   margin: .5rem 1rem .5rem 0;
}

.card-header  {   
   place-items: center;
   background-color:#7339AC;
   color:whitesmoke;
   font-weight: 600;  
   border-radius: 12px 12px 0 0;  
} 

#header-card1 {
   grid-column: 1/3;
}

.card1-img{
   display: grid;   
   place-items: center;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   gap: 1rem;
}

#img-person {
   grid-column: 2;
   grid-row: 2;
   margin: 15px;
}

#img-place {
   grid-column: 1;
   grid-row: 2;
}

#person, #place {
   max-width: 100%;
   height: auto;
   object-fit: scale-down;
   width: auto;
}

#card1-content1 {
   grid-column: 1/2;
   margin: 15px;
}

#card1-content2 {
   grid-column: 2/3;
   margin: 15px;
}

.card p {
   padding: 5px;
}

#card1-place {
   display: grid;
   grid-column: 1/2;
   grid-row: 4/5;
   margin: 15px;
   place-items: center;
   grid-template: 1fr auto / 1fr, auto;
}

#card1-place-header {
   grid-column: 1/3;
}

.card-list {
   width: 80%;
   margin-left: auto;
}

header, footer p {
   display: block;
   background-color: #545151;
   text-align: center;
   color: white;
   font-family: "Roboto", sans-serif;
   margin: 0;
}

footer p{
   padding: .5rem;
}