:root {
    --purple: #3c0d62;
    --text: #222;
    --caption: #5a005a;
    --max-width: 600px;
    font-family: "Roboto", sans-serif;
    --font: 600;
}

body {
    margin: 0;
    background: white;
    color: var(--text);
}

h1 {
    background: var(--purple);
    color: white;
    padding: 1rem;
   
   
}

header h2 {
    margin: 0;
    font-size: 1.5rem;
}

.menu-btn {
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

nav {
/*  display: none;
    padding: 1rem;   */
    flex-direction: column;      
    background: var(--purple);
    /* collapsed */
    max-height: 0;    
    overflow: hidden;
    display: flex;
    transition: max-height 0.4s ease;   /* smooth slide-down */
}

nav.open {
 /* display: flex; */
    max-height: 300px;
}

nav a {
    color: white;
    font-weight: var(--font);
    font-size: small;
    text-decoration: none;
    padding: .75rem 1rem;
}

main {
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
}

main h1 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

figure {
    margin: 0 0 2rem 0;
    text-align: center;
}

figure img {
    width: 100%;
}

figcaption {
    margin-top: .5rem;
    color: var(--caption);
    font-weight: var(--font);
}

footer {
    text-align: center; /* centers text inside footer */
    margin-top: .5rem;   
    font-size: 1rem;
    font-weight: var(--font);
    background: var(--purple);
    color: white;
    padding: 2rem 0;
}

@media (hover: hover) and (pointer: fine) {
    nav a {
        transition: all 0.25s ease;
        border-radius: 6px;        
    }

    nav a:hover {
        background-color: rgba(255, 255, 255, 0.15);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        transform: translateY(-2px);
    }
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.menu-toggle span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #000;
    border-radius: 2px;
    transition: all 0.3s ease;
}